

div.header{
  position: relative;

text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

  a{
  display:inline;
  color:white;
  padding: 8px 16px;
  text-decoration: none;
  }
  
  a:hover {
    background-color: rgb(187, 185, 185);
    color: white;
  }

  video{
    object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;

  }

  section.Header{
    color: white;
    position: relative;

  }

  button.button{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  } 